In [49]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns;sns.set(context='notebook',palette='Set3', style='darkgrid')

import turicreate as tc
from sklearn.model_selection import train_test_split

import pickle

In [2]:
df_cluster_clientes = pd.read_csv("../data/processados/clientes_final.csv")
df_produtos_fixa = pd.read_csv("../data/processados/produto_fundos_final.csv")
df_produtos_fundos = pd.read_csv("../data/processados/produto_fixa_final.csv")

In [3]:
df_compras = pd.read_csv('../data/Dataset-1.csv')

/home/vinicius/.pyenv/versions/3.7.4/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_compras.shape

(38102, 66)

In [5]:
df_compras.columns

Index(['Unnamed: 0', 'Id', 'Idade', 'EstadoCivil', 'BillingCity',
       'NivelConhecimentoAtual', 'ScoreNivelConhecimento', 'PerfilInvestidor',
       'RendaMensal', 'ValorPatrimonio', 'Pergunta1', 'Resposta11',
       'Pergunta2', 'Resposta21', 'Pergunta3', 'Resposta31', 'Pergunta4',
       'Resposta41', 'Pergunta5', 'Resposta51', 'Resposta52', 'Resposta53',
       'Resposta54', 'Resposta55', 'Resposta56', 'Resposta57', 'Resposta58',
       'Pergunta6', 'Resposta61', 'Resposta62', 'Resposta63', 'Resposta64',
       'Resposta65', 'Resposta66', 'Resposta67', 'Resposta68', 'Pergunta7',
       'Resposta71', 'Resposta72', 'Resposta73', 'Resposta74', 'Resposta75',
       'Pergunta8', 'Resposta81', 'Pergunta9', 'Resposta91', 'ScoreRisco',
       'ScoreObjetivos', 'ScoreSituacaoFinanceira', 'Produto', 'NomeDoProduto',
       'NomeEmissor', 'TaxaCliente', 'TaxaPreCliente', 'DescricaoProduto',
       'ValorMinimoAplicaInicial', 'ValorMinimoAplicacaoAdicional',
       'DataVencimento', 'FamiliaCarteira', 'ValorInvestidoAtual',
       'ValorRendimento', 'Rentabilidade12Meses', 'RentabilidadeMes',
       'RiscoAtivo', 'Status', 'ProdutoId'],
      dtype='object')

In [6]:
df_compras = df_compras[['Id', 'ProdutoId']]

In [7]:
df_compras.head()

                                                  Id           ProdutoId
0  $2b$10$.DCvvJ9WSDpqVP2xXjeSPe9yBilu2JVQh2nFTHN...  a0W6A000009GZdgUAG
1  $2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...  a0W6A000009GZdgUAG
2  $2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...  a0W6A000009GZdgUAG
3  $2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...  a0W6A000009GZdgUAG
4  $2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...  a0W6A000009GZdgUAG

In [8]:
df_compras_custer_clientes = df_compras.merge(df_cluster_clientes[['Id', 'cluster']], on='Id', how='left')

In [9]:
df_compras_custer_clientes.rename(columns={'cluster':'cluster_clientes'}, inplace=True)

In [10]:
df_compras_custer_fixa = df_compras_custer_clientes.merge(df_produtos_fixa[['ProdutoId', 'cluster']], on='ProdutoId', how='left')

In [11]:
df_compras_custer_fixa.head()

,Id,ProdutoId,cluster_clientes,cluster
0,$2b$10$.DCvvJ9WSDpqVP2xXjeSPe9yBilu2JVQh2nFTHN...,a0W6A000009GZdgUAG,6.0,-1.0
1,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,5.0,-1.0
2,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,5.0,-1.0
3,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,5.0,-1.0
4,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,5.0,-1.0

In [12]:
df_compras_custer_fixa.rename(columns={'cluster':'cluster_fixa'}, inplace=True)

In [13]:
df_compras_final = df_compras_custer_fixa.merge(df_produtos_fundos[['ProdutoId', 'cluster']], on='ProdutoId', how='left')

In [14]:
df_compras_final.rename(columns={'cluster':'cluster_fundos'}, inplace=True)

In [15]:
df_compras_final.head()

,Id,ProdutoId,cluster_clientes,cluster_fixa,cluster_fundos
0,$2b$10$.DCvvJ9WSDpqVP2xXjeSPe9yBilu2JVQh2nFTHN...,a0W6A000009GZdgUAG,6.0,-1.0,NaN
1,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,5.0,-1.0,NaN
2,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,5.0,-1.0,NaN
3,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,5.0,-1.0,NaN
4,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,5.0,-1.0,NaN

# Recomendação Fundos

In [16]:
df_compras_final = df_compras_final.query('cluster_fundos != "NaN" or cluster_fixa != "NaN"')

In [17]:
df_compras_final.dropna(subset=['cluster_clientes'], inplace=True)

In [18]:
df_compras_final.isnull().sum()

Id                      0
ProdutoId               0
cluster_clientes        0
cluster_fixa         5442
cluster_fundos      29961
dtype: int64

In [19]:
df_rec_fixa = df_compras_final.query('cluster_fundos != "NaN"')

In [20]:
df_rec_fixa.shape

(5442, 5)

In [21]:
df_rec_fixa.head()

,Id,ProdutoId,cluster_clientes,cluster_fixa,cluster_fundos
37,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeGnEF/TEJQwSSSBnZa...,a0W6A00000Aa9rKUAR,0.0,NaN,10.0
41,$2b$10$.DCvvJ9WSDpqVP2xXjeSPetwA4M1vJpM6aEi4AT...,a0W3u00000AdL5wEAF,0.0,NaN,10.0
43,$2b$10$.DCvvJ9WSDpqVP2xXjeSPetwA4M1vJpM6aEi4AT...,a0W3u00000AdICSEA3,0.0,NaN,9.0
45,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeiJXRYJIOtinZ88UyK...,a0W6A000008HwdFUAS,5.0,NaN,9.0
53,$2b$10$.DCvvJ9WSDpqVP2xXjeSPee6LD.ucBCuEQncqS1...,a0W3u000009PBzxEAG,1.0,NaN,15.0

In [23]:
df_rec_fixa['cluster_fundos'] = df_rec_fixa['cluster_fundos'].astype(int).astype(str)

/home/vinicius/.pyenv/versions/3.7.4/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
df_rec_fixa_grouped = df_rec_fixa.groupby(['cluster_clientes'])['cluster_fundos'].apply(lambda x: '|'.join(x)).reset_index()

In [25]:
df_rec_fixa_grouped.shape

(10, 2)

In [26]:
df_rec_fixa_grouped.head()

   cluster_clientes                                     cluster_fundos
0               0.0  10|10|9|-1|-1|11|10|9|9|9|10|10|10|-1|10|9|9|1...
1               1.0  15|10|10|9|10|10|9|10|10|10|8|10|9|1|8|8|9|0|1...
2               2.0  11|8|8|10|10|-1|-1|10|10|10|15|9|-1|10|10|-1|-...
3               3.0  15|15|8|-1|8|10|0|11|8|10|8|9|0|0|10|10|10|-1|...
4               4.0  10|9|10|10|10|10|9|1|9|11|11|9|15|9|10|9|10|10...

In [27]:
df_rec_fixa_grouped.rename(columns={'cluster_clientes':'customerId','cluster_fundos':'products'}, inplace=True)

In [28]:
def count_products(row):
    arr = row['products'].split('|')
    row['produtoId'] = arr
    return row

In [29]:
data = df_rec_fixa_grouped.set_index('customerId').apply(count_products, axis = 1)[['produtoId']].reset_index() \
.explode('produtoId') \
.groupby(['customerId', 'produtoId']).agg({'produtoId': 'count'})\
.rename(columns={'produtoId': 'purchase_count'}) \
.reset_index()

In [30]:
data.head()

   customerId produtoId  purchase_count
0         0.0        -1              55
1         0.0         0              25
2         0.0         1               7
3         0.0        10             236
4         0.0        11              14

In [31]:
data['produtoId'] = data['produtoId'].astype(np.int64)
data['customerId'] = data['customerId'].astype(np.int64)

In [32]:
df_matrix =pd.pivot_table(data, values='purchase_count', index='customerId', columns='produtoId')

In [33]:
df_matrix

produtoId,-1,0,1,2,3,4,5,6,7,8,9,10,11,12,14,15
customerId,,,,,,,,,,,,,,,,
0,55.0,25.0,7.0,3.0,2.0,2.0,NaN,NaN,NaN,25.0,136.0,236.0,14.0,NaN,NaN,31.0
1,142.0,100.0,38.0,7.0,10.0,4.0,6.0,3.0,NaN,67.0,365.0,721.0,25.0,NaN,4.0,43.0
2,40.0,3.0,6.0,1.0,4.0,NaN,NaN,NaN,NaN,5.0,32.0,64.0,10.0,NaN,NaN,4.0
3,44.0,15.0,12.0,1.0,5.0,3.0,1.0,NaN,1.0,18.0,51.0,138.0,13.0,NaN,2.0,7.0
4,147.0,91.0,34.0,2.0,14.0,5.0,1.0,2.0,3.0,107.0,224.0,606.0,31.0,1.0,NaN,38.0
5,42.0,11.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,14.0,94.0,173.0,2.0,NaN,1.0,2.0
6,71.0,25.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,23.0,66.0,285.0,6.0,NaN,1.0,6.0
7,17.0,6.0,6.0,NaN,6.0,3.0,NaN,NaN,NaN,4.0,15.0,49.0,NaN,NaN,NaN,NaN
8,56.0,10.0,27.0,2.0,4.0,4.0,2.0,NaN,1.0,12.0,187.0,160.0,34.0,NaN,1.0,32.0
9,18.0,3.0,3.0,NaN,NaN,1.0,NaN,NaN,NaN,6.0,20.0,56.0,4.0,NaN,NaN,6.0

In [35]:
def normalize_data(data):
    df_matrix = pd.pivot_table(data, values='purchase_count', index='customerId', columns='productId')
    df_matrix_norm = (df_matrix-df_matrix.min())/(df_matrix.max()-df_matrix.min())
    d = df_matrix_norm.reset_index()
    d.index.names = ['scaled_purchase_freq']
    return pd.melt(d, id_vars=['customerId'], value_name='scaled_purchase_freq').dropna()

In [36]:
def split_data(data):
    '''
    Splits dataset into training and test set.
    
    Args:
        data (pandas.DataFrame)
        
    Returns
        train_data (tc.SFrame)
        test_data (tc.SFrame)
    '''
    train, test = train_test_split(data, test_size = .2)
    train_data = tc.SFrame(train)
    test_data = tc.SFrame(test)
    return train_data, test_data

In [37]:
train_data, test_data = split_data(data)

In [42]:
user_id = 'cluster_fundos'
item_id = 'produtoId'
users_to_recommend = list(df_rec_fixa[user_id])
n_rec = 2 # number of items to recommend
n_display = 50 # to display the first few rows in an output dataset

In [43]:
def model(train_data, name, user_id, item_id, target, users_to_recommend, n_rec, n_display):
    if name == 'popularity':
        model = tc.popularity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target)
    elif name == 'cosine':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    similarity_type='cosine')
    elif name == 'pearson':
            model = tc.item_similarity_recommender.create(train_data, 
                                                        user_id=user_id, 
                                                        item_id=item_id, 
                                                        target=target, 
                                                        similarity_type='pearson')

    recom = model.recommend(users=users_to_recommend, k=n_rec)
    recom.print_rows(n_display)
    return model

In [44]:
train_data

Columns:
	customerId	int
	produtoId	int
	purchase_count	int

Rows: 91

Data:
+------------+-----------+----------------+
| customerId | produtoId | purchase_count |
+------------+-----------+----------------+
|     4      |     8     |      107       |
|     1      |     4     |       4        |
|     0      |     8     |       25       |
|     3      |     9     |       51       |
|     4      |     1     |       34       |
|     6      |     0     |       25       |
|     4      |     4     |       5        |
|     0      |     2     |       3        |
|     1      |     -1    |      142       |
|     3      |     5     |       1        |
+------------+-----------+----------------+
[91 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [54]:
name = 'popularity'
target = 'purchase_count'
popularity = model(train_data, name, 'customerId', item_id, target, users_to_recommend, n_rec, n_display)

Preparing data set.

    Data has 91 observations with 10 users and 16 items.

    Data prepared in: 0.002546s

91 observations to process; with 16 unique items.

recommendations finished on 1000/5442 queries. users per second: 14782.8

recommendations finished on 2000/5442 queries. users per second: 21824.3

recommendations finished on 3000/5442 queries. users per second: 31937.3

recommendations finished on 4000/5442 queries. users per second: 40529.7

recommendations finished on 5000/5442 queries. users per second: 49554.5

+------------+-----------+--------------------+------+
| customerId | produtoId |       score        | rank |
+------------+-----------+--------------------+------+
|     10     |     10    |       269.25       |  1   |
|     10     |     9     |      129.875       |  2   |
|     10     |     10    |       269.25       |  1   |
|     10     |     9     |      129.875       |  2   |
|     9      |     3     | 4.333333333333333  |  1   |
|     9      |     5     |        3.0         |  2   |
|     9      |     3     | 4.333333333333333  |  1   |
|     9      |     5     |        3.0         |  2   |
|     15     |     10    |       269.25       |  1   |
|     15     |     9     |      129.875       |  2   |
|     10     |     10    |       269.25       |  1   |
|     10     |     9     |      129.875       |  2   |
|     -1     |     10    |       269.25       |  1   |
|     -1     |     9     |      129.875       |  2   |
|     -1     |     10    |       269.25       |  1   |
|     -1     |     9     |      129.875       |  2   |
|     -1     |     10    |       269.25       |  1   |
|     -1     |     9     |      129.875       |  2   |
|     10     |     10    |       269.25       |  1   |
|     10     |     9     |      129.875       |  2   |
|     9      |     3     | 4.333333333333333  |  1   |
|     9      |     5     |        3.0         |  2   |
|     10     |     10    |       269.25       |  1   |
|     10     |     9     |      129.875       |  2   |
|     10     |     10    |       269.25       |  1   |
|     10     |     9     |      129.875       |  2   |
|     11     |     10    |       269.25       |  1   |
|     11     |     9     |      129.875       |  2   |
|     8      |     15    | 18.571428571428573 |  1   |
|     8      |     6     |        3.0         |  2   |
|     8      |     15    | 18.571428571428573 |  1   |
|     8      |     6     |        3.0         |  2   |
|     10     |     10    |       269.25       |  1   |
|     10     |     9     |      129.875       |  2   |
|     10     |     10    |       269.25       |  1   |
|     10     |     9     |      129.875       |  2   |
|     10     |     10    |       269.25       |  1   |
|     10     |     9     |      129.875       |  2   |
|     15     |     10    |       269.25       |  1   |
|     15     |     9     |      129.875       |  2   |
|     15     |     10    |       269.25       |  1   |
|     15     |     9     |      129.875       |  2   |
|     9      |     3     | 4.333333333333333  |  1   |
|     9      |     5     |        3.0         |  2   |
|     9      |     3     | 4.333333333333333  |  1   |
|     9      |     5     |        3.0         |  2   |
|     10     |     10    |       269.25       |  1   |
|     10     |     9     |      129.875       |  2   |
|     10     |     10    |       269.25       |  1   |
|     10     |     9     |      129.875       |  2   |
+------------+-----------+--------------------+------+
[10884 rows x 4 columns]

In [46]:
recom = popularity.recommend(users=users_to_recommend, k=2)

recommendations finished on 1000/5442 queries. users per second: 18450.2

recommendations finished on 2000/5442 queries. users per second: 18808.3

recommendations finished on 3000/5442 queries. users per second: 27670.7

recommendations finished on 4000/5442 queries. users per second: 36117.1

recommendations finished on 5000/5442 queries. users per second: 43367.4

In [72]:
type(recom)

turicreate.data_structures.sframe.SFrame

In [74]:
df_fundos = pd.DataFrame(recom)

In [78]:
pickle.dump(df_fundos, open(f'../models/recommendation_fundos_FINAL.pkl','wb'))