In [419]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns;sns.set(context='notebook',palette='Set3', style='darkgrid')

import turicreate as tc
from sklearn.model_selection import train_test_split

import pickle

In [2]:
df_cluster_clientes = pd.read_csv("../data/processados/clientes_final.csv")
df_produtos_fixa = pd.read_csv("../data/processados/produto_fundos_final.csv")
df_produtos_fundos = pd.read_csv("../data/processados/produto_fixa_final.csv")

In [3]:
df_compras = pd.read_csv('../data/Dataset-1.csv')

/home/vinicius/.pyenv/versions/3.7.4/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_compras.shape

(38102, 66)

In [5]:
df_compras.columns

Index(['Unnamed: 0', 'Id', 'Idade', 'EstadoCivil', 'BillingCity',
       'NivelConhecimentoAtual', 'ScoreNivelConhecimento', 'PerfilInvestidor',
       'RendaMensal', 'ValorPatrimonio', 'Pergunta1', 'Resposta11',
       'Pergunta2', 'Resposta21', 'Pergunta3', 'Resposta31', 'Pergunta4',
       'Resposta41', 'Pergunta5', 'Resposta51', 'Resposta52', 'Resposta53',
       'Resposta54', 'Resposta55', 'Resposta56', 'Resposta57', 'Resposta58',
       'Pergunta6', 'Resposta61', 'Resposta62', 'Resposta63', 'Resposta64',
       'Resposta65', 'Resposta66', 'Resposta67', 'Resposta68', 'Pergunta7',
       'Resposta71', 'Resposta72', 'Resposta73', 'Resposta74', 'Resposta75',
       'Pergunta8', 'Resposta81', 'Pergunta9', 'Resposta91', 'ScoreRisco',
       'ScoreObjetivos', 'ScoreSituacaoFinanceira', 'Produto', 'NomeDoProduto',
       'NomeEmissor', 'TaxaCliente', 'TaxaPreCliente', 'DescricaoProduto',
       'ValorMinimoAplicaInicial', 'ValorMinimoAplicacaoAdicional',
       'DataVencimento', 'FamiliaCarteira', 'ValorInvestidoAtual',
       'ValorRendimento', 'Rentabilidade12Meses', 'RentabilidadeMes',
       'RiscoAtivo', 'Status', 'ProdutoId'],
      dtype='object')

In [6]:
df_compras = df_compras[['Id', 'ProdutoId']]

In [7]:
df_compras.head()

                                                  Id           ProdutoId
0  $2b$10$.DCvvJ9WSDpqVP2xXjeSPe9yBilu2JVQh2nFTHN...  a0W6A000009GZdgUAG
1  $2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...  a0W6A000009GZdgUAG
2  $2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...  a0W6A000009GZdgUAG
3  $2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...  a0W6A000009GZdgUAG
4  $2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...  a0W6A000009GZdgUAG

In [11]:
df_compras_custer_clientes = df_compras.merge(df_cluster_clientes[['Id', 'cluster']], on='Id', how='left')

In [13]:
df_compras_custer_clientes.rename(columns={'cluster':'cluster_clientes'}, inplace=True)

In [14]:
df_compras_custer_fixa = df_compras_custer_clientes.merge(df_produtos_fixa[['ProdutoId', 'cluster']], on='ProdutoId', how='left')

In [15]:
df_compras_custer_fixa.head()

,Id,ProdutoId,cluster_clientes,cluster
0,$2b$10$.DCvvJ9WSDpqVP2xXjeSPe9yBilu2JVQh2nFTHN...,a0W6A000009GZdgUAG,3.0,-1.0
1,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1.0
2,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1.0
3,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1.0
4,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1.0

In [16]:
df_compras_custer_fixa.rename(columns={'cluster':'cluster_fixa'}, inplace=True)

In [17]:
df_compras_final = df_compras_custer_fixa.merge(df_produtos_fundos[['ProdutoId', 'cluster']], on='ProdutoId', how='left')

In [18]:
df_compras_final.rename(columns={'cluster':'cluster_fundos'}, inplace=True)

In [19]:
df_compras_final.head()

,Id,ProdutoId,cluster_clientes,cluster_fixa,cluster_fundos
0,$2b$10$.DCvvJ9WSDpqVP2xXjeSPe9yBilu2JVQh2nFTHN...,a0W6A000009GZdgUAG,3.0,-1.0,NaN
1,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1.0,NaN
2,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1.0,NaN
3,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1.0,NaN
4,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1.0,NaN

# Recomendação Renda Fixa

In [30]:
df_compras_final = df_compras_final.query('cluster_fundos != "NaN" or cluster_fixa != "NaN"')

In [34]:
df_compras_final.dropna(subset=['cluster_clientes'], inplace=True)

/home/vinicius/.pyenv/versions/3.7.4/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
df_compras_final.isnull().sum()

Id                      0
ProdutoId               0
cluster_clientes        0
cluster_fixa         5442
cluster_fundos      29961
dtype: int64

In [39]:
df_rec_fixa = df_compras_final.query('cluster_fixa != "NaN"')

In [40]:
df_rec_fixa.shape

(29961, 5)

In [41]:
df_rec_fixa.head()

,Id,ProdutoId,cluster_clientes,cluster_fixa,cluster_fundos
0,$2b$10$.DCvvJ9WSDpqVP2xXjeSPe9yBilu2JVQh2nFTHN...,a0W6A000009GZdgUAG,3.0,-1.0,NaN
1,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1.0,NaN
2,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1.0,NaN
3,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1.0,NaN
4,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1.0,NaN

In [50]:
df_rec_fixa['cluster_fixa'] = df_rec_fixa['cluster_fixa'].astype(int).astype(str)

/home/vinicius/.pyenv/versions/3.7.4/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [421]:
df_rec_fixa

,Id,ProdutoId,cluster_clientes,cluster_fixa,cluster_fundos
0,$2b$10$.DCvvJ9WSDpqVP2xXjeSPe9yBilu2JVQh2nFTHN...,a0W6A000009GZdgUAG,3.0,-1,NaN
1,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1,NaN
2,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1,NaN
3,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1,NaN
4,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeR6I3TrUCl/MAePvQQ...,a0W6A000009GZdgUAG,0.0,-1,NaN
...,...,...,...,...,...
38080,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeb5uDkvii4bLVXuKwX...,a0W6A000009GZdgUAG,2.0,-1,NaN
38081,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeb5uDkvii4bLVXuKwX...,a0W6A000008FwYQUA0,2.0,2,NaN
38097,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeJ/SmDXRVoa03nJIT4...,a0W6A000009ai38UAA,0.0,-1,NaN
38098,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeJ/SmDXRVoa03nJIT4...,a0W6A000009ai38UAA,0.0,-1,NaN
38100,$2b$10$.DCvvJ9WSDpqVP2xXjeSPeJ/SmDXRVoa03nJIT4...,a0W6A000009ai38UAA,0.0,-1,NaN

In [52]:
df_rec_fixa_grouped = df_rec_fixa.groupby(['cluster_clientes'])['cluster_fixa'].apply(lambda x: '|'.join(x)).reset_index()

In [54]:
df_rec_fixa_grouped.shape

(10, 2)

In [117]:
df_rec_fixa_grouped.head()

   customerId                                           products
0         0.0  -1|-1|-1|-1|-1|-1|-1|1|2|1|-1|-1|-1|-1|-1|-1|-...
1         1.0  -1|1|1|1|1|1|-1|-1|-1|-1|-1|-1|-1|1|1|1|-1|1|-...
2         2.0  1|1|2|1|1|1|1|2|-1|2|2|1|2|2|2|-1|2|1|-1|1|1|1...
3         3.0  -1|2|2|2|0|1|-1|-1|1|-1|-1|-1|-1|-1|-1|2|-1|2|...
4         4.0  1|1|2|0|2|2|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|...

In [ ]:
df_rec_fixa_grouped.rename(columns={'cluster_clientes':'customerId','cluster_fixa':'products'}, inplace=True)

In [331]:
def count_products(row):
    arr = row['products'].split('|')
    row['produtoId'] = arr
    return row

In [333]:
data = df_rec_fixa_grouped.set_index('customerId').apply(count_products, axis = 1)[['produtoId']].reset_index() \
.explode('produtoId') \
.groupby(['customerId', 'produtoId']).agg({'produtoId': 'count'})\
.rename(columns={'produtoId': 'purchase_count'}) \
.reset_index()

In [334]:
data.head()

   customerId produtoId  purchase_count
0         0.0        -1            4605
1         0.0         0             306
2         0.0         1            2002
3         0.0         2            1088
4         0.0         3             100

In [380]:
data['produtoId'] = data['produtoId'].astype(np.int64)
data['customerId'] = data['customerId'].astype(np.int64)

In [381]:
df_matrix =pd.pivot_table(data, values='purchase_count', index='customerId', columns='produtoId')

In [382]:
df_matrix

produtoId     -1    0     1     2    3
customerId
0           4605  306  2002  1088  100
1           1594  516  1059   482  109
2           2009  146   813   404   14
3           2551  303  1483   718   82
4           1190  595   961   740  112
5             76   97    80    21   30
6           1231  929   874   517  224
7             60   92   125    40   24
8            294  335   217   116   86
9            158  187    93    49   24

In [383]:
df_matrix_norm = (df_matrix-df_matrix.min())/(df_matrix.max()-df_matrix.min())

In [384]:
df_matrix_norm

produtoId         -1         0         1         2         3
customerId
0           1.000000  0.255675  1.000000  1.000000  0.409524
1           0.337514  0.506571  0.509365  0.432052  0.452381
2           0.428823  0.064516  0.381374  0.358950  0.000000
3           0.548075  0.252091  0.729969  0.653233  0.323810
4           0.248625  0.600956  0.458377  0.673852  0.466667
5           0.003520  0.005974  0.000000  0.000000  0.076190
6           0.257646  1.000000  0.413111  0.464855  1.000000
7           0.000000  0.000000  0.023413  0.017807  0.047619
8           0.051485  0.290323  0.071280  0.089035  0.342857
9           0.021562  0.113501  0.006764  0.026242  0.047619

In [385]:
d = df_matrix_norm.reset_index() 
d.index.names = ['scaled_purchase_freq'] 
data_norm = pd.melt(d, id_vars=['customerId'], value_name='scaled_purchase_freq').dropna()
print(data_norm.shape)

(50, 3)

In [386]:
data_norm.head()

   customerId produtoId  scaled_purchase_freq
0           0        -1              1.000000
1           1        -1              0.337514
2           2        -1              0.428823
3           3        -1              0.548075
4           4        -1              0.248625

In [387]:
def normalize_data(data):
    df_matrix = pd.pivot_table(data, values='purchase_count', index='customerId', columns='productId')
    df_matrix_norm = (df_matrix-df_matrix.min())/(df_matrix.max()-df_matrix.min())
    d = df_matrix_norm.reset_index()
    d.index.names = ['scaled_purchase_freq']
    return pd.melt(d, id_vars=['customerId'], value_name='scaled_purchase_freq').dropna()

In [388]:
def split_data(data):
    '''
    Splits dataset into training and test set.
    
    Args:
        data (pandas.DataFrame)
        
    Returns
        train_data (tc.SFrame)
        test_data (tc.SFrame)
    '''
    train, test = train_test_split(data, test_size = .2)
    train_data = tc.SFrame(train)
    test_data = tc.SFrame(test)
    return train_data, test_data

In [389]:
train_data, test_data = split_data(data)
train_data_norm, test_data_norm = split_data(data_norm)

In [404]:
user_id = 'cluster_clientes'
item_id = 'produtoId'
users_to_recommend = list(df_rec_fixa[user_id])
n_rec = 5 # number of items to recommend
n_display = 50 # to display the first few rows in an output dataset

In [405]:
def model(train_data, name, user_id, item_id, target, users_to_recommend, n_rec, n_display):
    if name == 'popularity':
        model = tc.popularity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target)
    elif name == 'cosine':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    similarity_type='cosine')
    elif name == 'pearson':
            model = tc.item_similarity_recommender.create(train_data, 
                                                        user_id=user_id, 
                                                        item_id=item_id, 
                                                        target=target, 
                                                        similarity_type='pearson')

    recom = model.recommend(users=users_to_recommend, k=n_rec)
    recom.print_rows(n_display)
    return model

In [406]:
train_data

Columns:
	customerId	int
	produtoId	int
	purchase_count	int

Rows: 40

Data:
+------------+-----------+----------------+
| customerId | produtoId | purchase_count |
+------------+-----------+----------------+
|     0      |     0     |      306       |
|     0      |     2     |      1088      |
|     1      |     3     |      109       |
|     3      |     0     |      303       |
|     5      |     0     |       97       |
|     9      |     1     |       93       |
|     4      |     0     |      595       |
|     1      |     1     |      1059      |
|     1      |     -1    |      1594      |
|     4      |     1     |      961       |
+------------+-----------+----------------+
[40 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [412]:
name = 'popularity'
target = 'purchase_count'
popularity = model(train_data, name, 'customerId', item_id, target, users_to_recommend, n_rec, n_display)

Preparing data set.

    Data has 40 observations with 10 users and 5 items.

    Data prepared in: 0.01646s

40 observations to process; with 5 unique items.

recommendations finished on 1000/29961 queries. users per second: 162075

recommendations finished on 2000/29961 queries. users per second: 28954

recommendations finished on 3000/29961 queries. users per second: 17348.1

recommendations finished on 4000/29961 queries. users per second: 17697

recommendations finished on 5000/29961 queries. users per second: 17555.1

recommendations finished on 6000/29961 queries. users per second: 20371.2

recommendations finished on 7000/29961 queries. users per second: 21967

recommendations finished on 8000/29961 queries. users per second: 24536.8

recommendations finished on 9000/29961 queries. users per second: 26799

recommendations finished on 10000/29961 queries. users per second: 29162.3

recommendations finished on 11000/29961 queries. users per second: 29603.8

recommendations finished on 12000/29961 queries. users per second: 30527.2

recommendations finished on 13000/29961 queries. users per second: 31973.7

recommendations finished on 14000/29961 queries. users per second: 33207.7

recommendations finished on 15000/29961 queries. users per second: 32952.5

recommendations finished on 16000/29961 queries. users per second: 34525.1

recommendations finished on 17000/29961 queries. users per second: 35775.2

recommendations finished on 18000/29961 queries. users per second: 35765.4

recommendations finished on 19000/29961 queries. users per second: 35796.1

recommendations finished on 20000/29961 queries. users per second: 37073.2

recommendations finished on 21000/29961 queries. users per second: 37265.9

recommendations finished on 22000/29961 queries. users per second: 37360.7

recommendations finished on 23000/29961 queries. users per second: 38128.4

recommendations finished on 24000/29961 queries. users per second: 39007.1

recommendations finished on 25000/29961 queries. users per second: 39874.8

recommendations finished on 26000/29961 queries. users per second: 40500

recommendations finished on 27000/29961 queries. users per second: 40613.3

recommendations finished on 28000/29961 queries. users per second: 41770.5

recommendations finished on 29000/29961 queries. users per second: 42971.9

+------------+-----------+---------+------+
| customerId | produtoId |  score  | rank |
+------------+-----------+---------+------+
|     3      |     3     |   82.5  |  1   |
|     4      |     -1    | 1562.75 |  1   |
|     4      |     3     |   82.5  |  2   |
|     4      |     -1    | 1562.75 |  1   |
|     4      |     3     |   82.5  |  2   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     4      |     -1    | 1562.75 |  1   |
|     4      |     3     |   82.5  |  2   |
|     4      |     -1    | 1562.75 |  1   |
|     4      |     3     |   82.5  |  2   |
|     4      |     -1    | 1562.75 |  1   |
|     4      |     3     |   82.5  |  2   |
|     3      |     3     |   82.5  |  1   |
|     3      |     3     |   82.5  |  1   |
|     3      |     3     |   82.5  |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     4      |     -1    | 1562.75 |  1   |
|     4      |     3     |   82.5  |  2   |
|     4      |     -1    | 1562.75 |  1   |
|     4      |     3     |   82.5  |  2   |
|     4      |     -1    | 1562.75 |  1   |
|     4      |     3     |   82.5  |  2   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     2      |     0     | 396.625 |  1   |
|     4      |     -1    | 1562.75 |  1   |
+------------+-----------+---------+------+
[18738 rows x 4 columns]

In [415]:
recom = popularity.recommend(users=users_to_recommend, k=2)

recommendations finished on 1000/29961 queries. users per second: 9884.94

recommendations finished on 2000/29961 queries. users per second: 15261.7

recommendations finished on 3000/29961 queries. users per second: 19649.3

recommendations finished on 4000/29961 queries. users per second: 22446.2

recommendations finished on 5000/29961 queries. users per second: 24156.3

recommendations finished on 6000/29961 queries. users per second: 26334.8

recommendations finished on 7000/29961 queries. users per second: 27057

recommendations finished on 8000/29961 queries. users per second: 28162.2

recommendations finished on 9000/29961 queries. users per second: 29977.7

recommendations finished on 10000/29961 queries. users per second: 28109.2

recommendations finished on 11000/29961 queries. users per second: 29351.8

recommendations finished on 12000/29961 queries. users per second: 30376.3

recommendations finished on 13000/29961 queries. users per second: 31013.7

recommendations finished on 14000/29961 queries. users per second: 31884.1

recommendations finished on 15000/29961 queries. users per second: 32712.3

recommendations finished on 16000/29961 queries. users per second: 32557

recommendations finished on 17000/29961 queries. users per second: 33829.6

recommendations finished on 18000/29961 queries. users per second: 34932.8

recommendations finished on 19000/29961 queries. users per second: 35042.7

recommendations finished on 20000/29961 queries. users per second: 34810

recommendations finished on 21000/29961 queries. users per second: 35719.1

recommendations finished on 22000/29961 queries. users per second: 35741.4

recommendations finished on 23000/29961 queries. users per second: 36623.4

recommendations finished on 24000/29961 queries. users per second: 37535.5

recommendations finished on 25000/29961 queries. users per second: 38134.5

recommendations finished on 26000/29961 queries. users per second: 39320.5

recommendations finished on 27000/29961 queries. users per second: 40476.7

recommendations finished on 28000/29961 queries. users per second: 41637.3

recommendations finished on 29000/29961 queries. users per second: 42774.2

In [417]:
df_fixa = pd.DataFrame(recom)

In [420]:
pickle.dump(df_fixa, open(f'../models/recommendation_fixa_FINAL.pkl','wb'))